[Unit]
Description=AutoUpdate Test - Discord Bot
Documentation=https://lebogo.tk
After=network.target

[Service]
Type=simple
User=USER
ExecStart=/usr/bin/node WORKINGDIRECTORY/index.js
WorkingDirectory=WORKINGDIRECTORY
Restart=always

[Install]
WantedBy=multi-user.target
