[Unit]
Description=AutoUpdate Test - Discord Bot
Documentation=https://lebogo.tk
After=network.target

[Service]
Type=simple
User=lebogo
ExecStart=/usr/bin/node /var/www/bots/AutoUpdate/index.js
WorkingDirectory=/var/www/bots/AutoUpdate
Restart=always

[Install]
WantedBy=multi-user.target
